<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coding Dojos</title>
    <style>
    body {
        padding: 2em;
        background-image: url("https://dcrazed.com/wp-content/uploads/2016/02/White-Paper-Towel-Texture.jpg"); !important; 
    }
    h1 {
        margin-bottom: 1em;
    }
    .extra {
        margin-top: .6em;
        margin-bottom: .6em;
    }
    h3 {
        padding-top: .4em;
        padding-bottom: .4em;
    }
    .extra {
        padding: 1em;
    }
    .together {
        display: inline-block;
        margin-right: .9em;
    }
    .width {
        width: 20 %

    }
    
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body >
<h1>Register</h1>
<form action="/users/create" method="post">

<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <table>
    <tr>    <td><label for="name">Name</label></td>
            <td><input type="text" id="name" name=user[name] placeholder="Name Here"><br></td></tr>
    <tr> <td>   <label for="alias">Alias</label></td>
        <td>    <input type="text" id="alias" name=user[alias] placeholder="Alias Here"><br> </td>  </tr>
    <tr> <td>   <label for="email">Email</label></td>
        <td><input type="text" id="email" name=user[email] placeholder="Email"><br></td></tr>

    <tr> <td>   <label for="password">Password</label></td>
        <td><input type="password" id="password" name=user[password] placeholder="Password"><br></td></tr>
    <tr> <td>   <label for="password_confirmation">Password Confirmation</label></td>
        <td><input type="password" id="password_confirmation" name=user[password_confirmation] placeholder="Retype Passowrd"><br></td></tr>
    </table>


<input type="submit" name="create" value="Register">


</form>
<br>

<h1>Log In</h1>

<form action="/sessions/create" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>
    <tr><td><label for="email">Email</label></td>
    <td><input type="text" id="email" name = "email" placeholder="Email"><br></td></tr>
    <tr><td><label for="password">Password        </label></td>
    <td><input type="password" id="password" name = "password" placeholder="Password"><br></td></tr>
    </table>
<input type="submit" name="Log In" value="Log In">
</form>
<% if flash[:errors] %>
<% flash[:errors].each do |e| %>
    <p><%= e %></p>
<% end %>
<% end %>


</body>
</html>
